<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Đăng kí PetShop</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<div class="form">
  <div class="form-field">
    <input type="text" id="email" placeholder="Email / Username" required/>
  </div>
  
  <div class="form-field">
    <input type="password" id="password" placeholder="Password" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Đăng kí</button>
  </div>
  <a href="../login/login.html">Về Login</a>
</div>
 
<!-- partial -->
  
</body>
<script src="../../script/regis.js"></script>
</html>
